Source: rpi-analyse-boot
Section: utils
Priority: optional
Maintainer: Richard Oliver <richard.oliver@raspberrypi.com>
Build-Depends: pandoc
Standards-Version: 4.3.0
Vcs-Git: git://git@github.com:raspberrypi/rpi-analyse-boot.git
Vcs-Browser: https://github.com/raspberrypi/rpi-analyse-boot

Package: rpi-analyse-boot
Architecture: all
Depends: ${misc:Depends}, aha, bsdutils, coreutils, dpkg, grep, sed, systemd
Recommends: raspi-utils-core
Suggests: rpi-trace-boot
Description: A tool to gather boot-time performance information
