[Unit]
Description=Perform boot analysis
DefaultDependencies=no
Requires=boot-complete.target
After=local-fs.target boot-complete.target

[Service]
Type=simple
Restart=no
ExecStart=/usr/share/rpi-analyse-boot/bin/rpi-analyse-boot
StandardError=tty

[Install]
WantedBy=default.target
